body{
    background-color: #EBE7Df;
}
    .main-content{
      width: 40%;
      border-radius: 20px;
      box-shadow: 0 5px 5px rgba(0,0,0,.4);
      margin: 5em auto;
      display: flex;
     }
     .company__info{
       background-color: #fff;
       border-top-left-radius: 20px;
       border-bottom-left-radius: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       color: #EBE7Df;
     }
    .fa-android{
        font-size:3em;
     }
     @media screen and (max-width: 640px) {
     .main-content{width: 90%;}
    .company__info{
    display: none;
     }
     .login_form{
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
     }
@media screen and (min-width: 642px) and (max-width:800px){
.main-content{width: 70%;}
}
.row > h2{
color:#850F0F;
}
.login_form{
background-color: #fff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        display: flex;
        flex-direction: column;
       align-items: flex-start;
        padding: 2em;
}
form{
padding:0;
}
.form__input{
width: 80%;
border:0px solid transparent;
border-radius: 0;
border-bottom: 1px solid #aaa;
padding: 1em .4em .5em;
padding-left: -1em;
outline:none;
margin: 1em auto;
transition: all .10s ease;


}
.form__input:focus{
border-bottom-color: #850F0F;
box-shadow: 0 0 5px  #850F0F; 
border-radius: 4px;
}
.btn{
transition: all .5s ease;
width: 30%;
border-radius: 30px;
color:#850F0F;
font-weight: 600;
background-color: #fff;
border: 1px solid #850F0F;
/*margin-top: 1.5em;
margin-bottom: 1em;*/
}
.btn:hover, .btn:focus{
background-color:#850F0F;
color:#fff;
}
.errorInput{
        border:1px solid red;
    }
.errormessage{
        font-size: 11px;
        font-weight: bold;
        color:red;
       
        margin:0px;
        padding:0px;
        margin-top: 2px;
    }
